name: Go Multilinting

on:
  push:

jobs:

  build:
    name: Check code
    runs-on: ubuntu-latest
    steps:

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8.0.0
